{% extends "template.html.twig" %}

{% block appTitre %}
    BDM
{% endblock %}

{% block appTitreRubrique %}
    {{appTitreRubrique}}
{% endblock %}

{% block appCorps %}


    {% for message in app.session.flashBag.get('info') %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    ICI NOUS METTRONS LE COPRS DE LA RUBRIQUE


{% endblock %}

