{% extends "template.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-users-viewfinder"></i>
	{{appTitreRubrique}}
	<div>
		<a href="{{ path('secteur.edit') }}" type="button" class="btn btn-success">
			<i class="fa-solid fa-circle-plus"></i>   
			Nouveau
		</a>
	</div>
{% endblock %}

{% block appCorps %}
	VOICI LA LISTE DES DONNEES
{% endblock %}
