{% extends "template.menu.user.html.twig" %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-address-book"></i>
	{{appTitreRubrique}}
	<div>
		<a href="{{ path('contact.edit') }}" type="button" class="btn btn-success">
			<i class="fa-solid fa-circle-plus"></i>
			Nouveau
		</a>
	</div>
{% endblock %}

{% block appCorps %}
	VOICI LA LISTE DES CONTACTS
{% endblock %}